/* Add CSS Styling */
button{
    font-size: 28px;
    font: Helvetica, "Times New Roman", sans-serif;
}
.btn1{
    background-color: #000000;
    color: rgb(255, 255, 255);
}
.btn2{
    background-color: #f6ff00;
}
